.contact-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 50px 20px;
    background-color: #f5f5f5; /* Delikatne szare tło */
  }
  
  .contact-info {
    text-align: center;
    margin-bottom: 50px;
  }
  
  .contact-info h1 {
    font-size: 36px;
    margin-bottom: 20px;
  }
  
  .info {
    display: flex;
    justify-content: space-between;
    max-width: 600px;
    margin: 0 auto;
  }
  
  .info-item {
    flex: 1;
    margin: 0 10px;
  }
  
  .info-item h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .contact-form {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .contact-form h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .contact-form input,
  .contact-form textarea {
    width: 100%;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .contact-form button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .contact-form button:hover {
    background-color: #0056b3;
  }
  