.home-container {
  margin: auto;
  max-width: 1200px;
  padding: 20px;
}

.header {
  text-align: center;
}

.header h1 {
  font-size: 36px;
  margin-bottom: 10px;
}

.header p {
  font-size: 18px;
  color: #666;
}

.collection {
  margin-top: 30px;
}

.collection-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.collection-item {
  max-width: 400px;
  margin: 0 20px 20px 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
}

.collection-image {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.product-description {
  margin-top: 20px;
  font-size: 16px;
  color: #333;
}

.about {
  margin-top: 30px;
}

.about h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.about p {
  font-size: 16px;
  color: #333;
}

.link {
  color: blue;
  text-decoration: underline;
}
